absl-py
asgiref
asttokens
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
Django
executing
Flask
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
namex
nest-asyncio
numpy
opt_einsum
optree
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
python-pptx
pytz
pyzmq
requests
rich
scikit-learn
scipy
seaborn
setuptools
six
soupsieve
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
wrapt
xlsxwriter
